<div class="admin_container">
  <p class="admin_headers">Team Members</p>
  <p class="admin_subheaders">Add a team member</p>
  <%= render "team_members/form"%>
  <br>
  <p class="admin_subheaders">Edit a team member's info</p>
  <%= render "team_members/update_form"%>
<hr>
<p class="admin_headers">Community Resources</p>
 <p class="admin_subheaders">Add a resource</p>
  <%= render "community_resources/form"%>
  <br>
 <p class="admin_subheaders">Edit a resource</p>
  <%= render "community_resources/update_form"%>
<hr>
<p class="admin_headers">Media</p>
 <p class="admin_subheaders">Add a medium</p>
  <%= render "media/form"%>
 <p class="admin_subheaders">Edit a medium</p>
  <%= render "media/update_form"%>
<hr>
<p class="admin_headers">Events</p>
 <p class="admin_subheaders">Add an event</p>
  <%= render "events/form"%>
 <p class="admin_subheaders">Edit an event</p>
  <%= render "events/update_form"%>
</div>