<div class="container">
<ul id="tabs">
    <li class="active">Team Members</li>
    <li>Community Resources</li>
    <li>Media</li>
    <li>Events</li>
</ul>
<ul id="tab">
    <li class="active">
        <p class="admin_subheaders">Add a team member</p>
        <%= render "team_members/form"%>
        <br>
        <p class="admin_subheaders">Edit a team member's info</p>
        <%= render "team_members/update_form"%>
        <hr>
    </li>
    <li>
        <p class="admin_subheaders">Add a resource</p>
        <%= render "community_resources/form"%>
        <br>
        <p class="admin_subheaders">Edit a resource</p>
        <%= render "community_resources/update_form"%>
        <hr>
    </li>
    <li>
        <p class="admin_subheaders">Add a medium</p>
        <%= render "media/form"%>
        <p class="admin_subheaders">Edit a medium</p>
        <%= render "media/update_form"%>
        <hr>
    </li>
    <li>
        <p class="admin_subheaders">Add an event</p>
        <%= render "events/form"%>
        <p class="admin_subheaders">Edit an event</p>
        <%= render "events/update_form"%>
    </li>
    </ul>
</div>