<div class="our-services">
	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("dude_eating_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
			<h2>Weekly Feeding</h2>
			<p>
				Humble Hearts feeds the homeless three times a week. We cook a hot meal right out of the kitchen, feeding anywhere from 30-45 people in the winter to 65-125 during the rest of the year.
			</p>
			<p>
				Our Feeding days are Monday, Wednesday, Friday.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("many_people_cropped.jpg")%>
		</div>
		<div class="large-9 columns">
			<h2>Monthly Community Kitchen</h2>
			<p>
				Every third Saturday of the month we have a community soup kitchen hosted at Destiny Worship Center at 5510 West Chicago Ave from 4 to 6pm.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("service_give_away_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
		<h2>Clothing Pantry</h2>
		<p>
			We have a clothing pantry where those in need can come and pick out clothes, shoes, household items, baby items, and toys to take home.
		</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("furniture_give_away_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
		<h2>Monthly Furniture Giveaway</h2>
		<p>
			Every month Humble Hearts picks anywhere between 4-6 families or individuals who recently got out of a shelter or lost their furniture in a fire to receive brand new furniture donated and Sponsored by <a href="http://www.thedump.com" target="_blank">The Dump Furniture Company </a>
		</p>
		<p>
			We also take in gently used furniture to help out those in need.
		</p>

		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("gift_basket_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
			<h2>Hygiene Products</h2>
			<p>
				We at Humble Hearts know that hygiene is an important part of a healthy lifestyle and dignity. We collect products all year to pass out to the people without homes, those coming out of homeless shelters.
			</p>
			<p>
				These items are available at our events to promote self-esteem, confidence and motivation to keep up with personal appearance.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("cute_pic_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
			<h2>Household Items</h2>
			<p>
				We accept anything, new and used, that would help people function everyday in a home. Examples could be silverware, towels, bed linen, blankets, brooms, cleaning products, dishes and so on. Anything that could help people have a normal life inside their home.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("DSC_3681_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
			<h2>Baby Items</h2>
			<p>
				We collect all baby items. Bottles, pampers, cribs, walkers-- you name it-- we want it, new and used, to pass them down to low income single mothers and teen moms who can not afford to have a baby shower or purchase things on their own.
			</p>
			<p>
				We also host an annual event where we have a giant baby shower for low income mothers to come in and pick up baby items for free.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("clothing_cropped.jpg") %>
		</div>
		<div class="large-9 columns">
			<h2>Clothing, Socks and Shoes</h2>
			<p>
				We accept all gently used clothing and shoes to pass out to the homeless. We do everything we can to help people clothe themselves professionally for job interviews and school. We also try to help people keep warm during the winter.

				We also collect Prom and Formal Dresses for our annual Free prom/ Graduation dress to help low income girls go to prom and Graduate in style who can not afford it.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="large-3 columns"> </div>
		<div class="large-9 columns">
			<h2>Additional Resources</h2>
			<p>
				We try our best to meet the needs of those who reach out to us for our services. If we cannot help we will lead you to other resources in hopes that your needs are taken care of. Our <%= link_to 'resources list', community_resources_path %> grows by the day. We pass these resources on to anyone who needs them. If we can not help you, we want to find someone who will.
			</p>
		</div>

	</div>
</div>
