<h2>Services</h2>


<div class="row">
  <p class="center-message">At Humble Hearts, we strive to provide you with anything you could possibly need to help get you back on your feet, even if we ourselves are unable to provide it. We try our best to have all available options for our clients. Please use any and all of these resources that you would like. If you have a suggestion for a new resource please visit our contact us page.</p>
</div>

<div class="row">
  <div class="service-list"
    <% @category_hash.each do |key, value| %>
      <ul>
        <li><h3><%= key %></h3></li>
          <ul>
          <% value.each do |val| %>

            <li><h4><%= link_to val.name, val.url%></h4></li>

              <ul>
                <li>Phone: <%=val.phone%></li>
                <li>Address: <%=val.address%></li>
                <li>Description: <%=val.description%></li>
              </ul>
            </li>
          <% end %>
          </ul>
      </ul>
    <% end %>
  </div>
</div>