<footer>
	<div class="row spacer">
	</div>
	<div class="row show-for-large-up">
		<div class="large-2 columns">
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Our Story', our_story_path %></li>
				<li><%= link_to 'Our Services', our_services_path %></li>
				<li><%= link_to 'Our Events', events_path %></li>
			</ul>
		</div>
		<div class="large-3 columns">
			<ul>
				<li><%= link_to 'Support Us', support_us_path %></li>
				<li><%= link_to 'Community Resources', community_resources_path %></li>
				<li><%= link_to 'Media', media_path %></li>
				<li><%= link_to 'Contact Us', contact_us_path %></li>
			</ul>
		</div>
		<div class="large-3 columns"> 
		</div>
		<div class="large-4 columns">
			<p><a href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a><br>
			773-322-2997<br>
			<a href="mailto:humblehearts@email.com" >humblehearts@email.com</a><br>
			© Humble Hearts NFP, ORG</p>
		</div>
	</div>
	<div class="row hide-for-large-up">
		<div class="small-12 columns">
			<div class="phone-size-info">
				<p><a href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
				<a href="tel:+7733222997">Call us free!</a>773-322-2997</a><br>
				<a href="mailto:humblehearts@email.com" >humblehearts@email.com</a><br>
				© Humble Hearts NFP, ORG</p>
			</div>
		</div>
	</div>

</footer>
<script src='/build/javascripts/precompiled.js'></script>
