<footer>
	<div class="sitemap">
		<p>Sitemap</p>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Our Story', our_story_path %></li>
			<li><%= link_to 'Our Services', our_services_path %></li>
			<li><%= link_to 'Our Events', events_path %></li>
			<li><%= link_to 'Support Us', support_us_path %></li>
			<li><%= link_to 'Community Resources', community_resources_path %></li>
			<li><%= link_to 'Media', media_path %></li>
			<li><%= link_to 'Contact Us', contact_us_path %></li>
		</ul>
	</div>

	<div class="right-info">
	<p><a href="https://www.facebook.com/pages/Humble-Hearts-Organization/477172595731068" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></p>
	<p>773-322-2997</p>
	<p><a href="mailto:humblehearts@email.com" >humblehearts@email.com</a></p>
	<p class="copyright">© Humble Hearts NFP, ORG</p>

	</div>

</footer>
