<header id="top">

	<div class="centered">
		<%= image_tag("Master Logo.png") %>

	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="T3RFM3GSNMMJG">
		<input type="image" src="https://farm8.staticflickr.com/7726/16729045044_2e415e5064_o.png" width="150px" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
	</div>

	<nav>
		<ul>
			<li> <%= link_to raw(" <i class='fa fa-home'></i>  <h4> Home </h4>"), root_path %> </li>
			<li> <%= link_to raw("<i class='fa fa-users'></i> <h4> Our Story </h4>"), our_story_path %> </li> 
			<li> <%= link_to raw("<i class='fa fa-bed'></i> <h4> Our Services </h4>"), our_services_path %></li>
			<li> <%= link_to raw("<i class='fa fa-calendar'></i> <h4> Our Events </h4>"), events_path %></li>
			<li>  <%= link_to raw("<i class='fa fa-heart'></i><h4> Support Us </h4>"), support_us_path %></li>
			<li>  <%= link_to raw("<i class='fa fa-book'></i><h4> Community Resources </h4>"), community_resources_path %> </li>
			<li>  <%= link_to raw("<i class='fa fa-newspaper-o'></i><h4> Media </h4>"), media_path %> </li>
			<li>  <%= link_to raw("<i class='fa fa-comments'></i><h4> Contact Us </h4>"), contact_us_path %> </li>

		</ul>
	</nav>
</header>
