<!DOCTYPE html>
<html>
<head>
  <title>Pgtestphoto</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render '/layouts/header' %>
	<%= yield %>
	<%= render '/layouts/footer' %>
</body>
</html>
