<!DOCTYPE html>
<html>
<head>
  <title>Pgtestphoto</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
<<<<<<< HEAD
=======
  <%= javascript_include_tag 'application' %>
>>>>>>> Remove turbolinks. Remove coffeescript references.
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%= render '/layouts/header' %>
	<%= yield %>
	<%= render '/layouts/footer' %>
</body>
</html>
