<!DOCTYPE html>
<html>
<head>
  <title>Humble Hearts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  	<%= render '/layouts/header' %>
  	<%= yield %>
  	<%= render '/layouts/footer' %>
  </div>
</body>
</html>
